.footer{
  padding: 15px;
  background-color: #000000;
  color: #ffffff;
  &__local{
    font-family: Nunito;
    font-weight: bold;
    font-size: 18px;
    color: #ffffff;
    line-height: 50px;

    &::after{
      content:"";
      width: 32px;
      padding: 2px;
      display: block;
      background-color: #ffffff;
    }
    &--address{
      margin-top: 15px;
      font-family: Nunito;
      font-weight: normal;
      font-size: 13px;
      line-height: 25px;
      color: #ffffff;
      a{
        color: #ffffff;
        text-decoration: none;
      }
    }
  }
  &__button{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Nunito;
    font-weight: 600;
    font-size: 12px;
    margin: 27px;

    a{
      display: flex;
      flex-direction: row;
      align-items: center;
      color: #000000;
      text-decoration: none;
      background-color: #ffffff;
      width: 198px;
      height: 38px;
      border-radius: 5px;
      text-transform: uppercase;
      margin-bottom: 26px;
      padding: 0 15px;
      box-sizing: border-box;
    }
    &--mail{
      &::before{
        margin-right: 20px;
        content: url("data:image/svg+xml,%3Csvg width='17' height='14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15.3.666748H1.7C.765.666748.0085 1.398.0085 2.29175L0 12.0417c0 .8938.765 1.625 1.7 1.625h13.6c.935 0 1.7-.7312 1.7-1.625V2.29175C17 1.398 16.235.666748 15.3.666748zm0 3.250002l-6.79999 4.0625-6.8-4.0625v-1.625l6.8 4.0625L15.3 2.29175v1.625z' fill='%23000'/%3E%3C/svg%3E");
      }
    }
    &--contact{
      &::before{
        margin-right: 20px;
        content: url("data:image/svg+xml,%3Csvg width='17' height='20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.5 0C3.80611 0 0 3.66364 0 8.18182v6.36368c0 1.509 1.26556 2.7272 2.83333 2.7272h2.83334V10H1.88889V8.18182c0-3.51818 2.95611-6.36364 6.61111-6.36364 3.655 0 6.6111 2.84546 6.6111 6.36364V10h-3.7778v7.2727h3.7778v.9091H8.5V20h5.6667C15.7344 20 17 18.7818 17 17.2727V8.18182C17 3.66364 13.1939 0 8.5 0z' fill='%23000'/%3E%3C/svg%3E");
      }
    }
  }
  &__bottom{
    display: flex;
    justify-content: space-around;
    font-size: 10px;
    line-height: 14px;
    &--corebiz{
      &::after{
        display: block;
        content: url("data:image/svg+xml,%3Csvg width='76' height='18' viewBox='0 0 76 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M58.8507 17.9565H56.1884V5.44262H58.8507V17.9565Z' fill='white'/%3E%3Cpath d='M5.77868 8.00846C5.36706 8.00255 4.95883 8.08753 4.58027 8.25793C4.20171 8.42833 3.86122 8.68037 3.58072 8.99783C2.98221 9.65016 2.68296 10.5525 2.68296 11.6941C2.68296 12.8357 2.98221 13.7598 3.59104 14.423C3.87586 14.7443 4.22128 14.9992 4.60513 15.1714C4.98898 15.3437 5.40278 15.4295 5.81996 15.4233C6.60421 15.4233 7.23367 15.195 7.70835 14.7492C8.14965 14.3438 8.47485 13.8166 8.64739 13.2271L11.0001 14.1295C10.6906 15.1841 10.0921 16.0974 9.20462 16.8584C8.31718 17.6195 7.1924 18 5.81996 18C4.16891 18 2.78615 17.402 1.67169 16.1952C0.55723 14.9884 0 13.488 0 11.6941C0 9.87847 0.546911 8.37811 1.65105 7.19304C2.75519 6.00797 4.11731 5.41 5.75805 5.41C7.16144 5.41 8.30686 5.79053 9.1943 6.55158C10.0357 7.24827 10.6403 8.2133 10.9176 9.30225L8.51324 10.2264C8.36888 9.62441 8.06037 9.08015 7.6258 8.66079C7.17279 8.2259 6.56396 8.00846 5.77868 8.00846Z' fill='white'/%3E%3Cpath d='M15.4177 14.3904C15.7144 14.7067 16.0675 14.958 16.4568 15.1299C16.846 15.3017 17.2637 15.3907 17.6858 15.3917C18.1078 15.3927 18.5259 15.3057 18.9159 15.1358C19.3059 14.9658 19.6601 14.7162 19.9581 14.4013C20.5773 13.7381 20.8868 12.8248 20.8868 11.6398C20.8868 10.4764 20.5773 9.57405 19.9581 8.92172C19.3524 8.29464 18.5371 7.94327 17.6879 7.94327C16.8387 7.94327 16.0235 8.29464 15.4177 8.92172C14.7986 9.57405 14.489 10.4764 14.489 11.6398C14.489 12.8031 14.7986 13.7272 15.4177 14.3904ZM17.6879 5.41C19.4112 5.41 20.8353 5.9971 21.9497 7.1713C23.0642 8.34549 23.6317 9.83499 23.6317 11.6506C23.6317 13.4663 23.0745 14.9558 21.9497 16.1409C20.8249 17.3259 19.4112 17.913 17.6879 17.913C15.9853 17.913 14.5716 17.3259 13.4468 16.1409C12.322 14.9558 11.7648 13.4554 11.7648 11.6506C11.7648 9.84586 12.322 8.35637 13.4468 7.1713C14.5716 5.98623 15.975 5.41 17.6879 5.41Z' fill='white'/%3E%3Cpath d='M30.5765 5.48611V8.34549C30.2861 8.29856 29.993 8.27313 29.6993 8.26939C27.6768 8.26939 26.6758 9.31312 26.6758 11.6289V17.913H23.9929V5.44262H26.6036V7.4431C26.8603 6.81344 27.3062 6.29009 27.8729 5.95361C28.4772 5.58429 29.1659 5.3963 29.8644 5.41C30.1037 5.40784 30.3425 5.43336 30.5765 5.48611Z' fill='white'/%3E%3Cpath d='M34.2397 10.3677H40.2145C40.205 10.0159 40.1278 9.66968 39.9877 9.35013C39.8476 9.03057 39.6474 8.74428 39.3993 8.50858C38.8936 8.00846 38.161 7.7584 37.2116 7.7584C36.3448 7.7584 35.6431 8.01933 35.1169 8.54119C34.5906 9.06306 34.2913 9.67625 34.2397 10.3677ZM40.5344 13.4337L42.98 14.1839C42.6291 15.2602 41.979 16.1517 41.0194 16.8584C40.0597 17.5651 38.8833 17.913 37.4799 17.913C35.7463 17.913 34.281 17.3368 33.0737 16.1952C31.8663 15.0536 31.2575 13.5207 31.2575 11.5963C31.2575 9.7915 31.8457 8.30201 33.0221 7.14956C34.1373 6.01616 35.6313 5.3912 37.1807 5.41C39.0484 5.41 40.5034 5.96449 41.556 7.06258C42.6085 8.16067 43.1337 9.65016 43.1337 11.5245C43.1337 12.0246 43.1131 12.3182 43.0615 12.416H34.1665C34.1776 12.8367 34.2735 13.2501 34.4479 13.6287C34.6222 14.0074 34.871 14.3426 35.1777 14.6122C35.8204 15.1919 36.6434 15.5016 37.4892 15.482C39.0484 15.4885 40.07 14.8036 40.5344 13.4337Z' fill='white'/%3E%3Cpath d='M46.4266 17.9565H43.7023V0H46.4472V7.23001C46.7361 6.72989 47.2108 6.30587 47.8712 5.96883C48.5804 5.61625 49.3574 5.44136 50.1414 5.45784C51.8441 5.45784 53.1752 6.03407 54.1349 7.19739C55.0946 8.36071 55.5693 9.83933 55.5693 11.6441C55.5693 13.4815 55.0636 14.9819 54.0627 16.1669C53.0617 17.352 51.7202 17.9282 50.0486 17.9282C48.3769 17.9282 47.1695 17.3085 46.4266 16.0582V17.9565ZM51.8647 14.4013C52.4529 13.7272 52.7418 12.814 52.7418 11.6615C52.7418 10.5091 52.4529 9.60667 51.875 8.94346C51.2972 8.28026 50.5336 7.95409 49.5842 7.95409C48.6658 7.95409 47.9125 8.28026 47.314 8.94346C46.7155 9.60667 46.4266 10.5091 46.4266 11.6615C46.4266 12.814 46.7258 13.7055 47.314 14.3904C47.9022 15.0754 48.6658 15.4124 49.5842 15.4124C50.5232 15.4124 51.2765 15.0754 51.8647 14.4013Z' fill='white'/%3E%3Cpath d='M71.44 17.9456H59.6969V15.4885L67.1163 7.92148H59.5731V5.44262H71.4194V7.82798L63.9071 15.4603H71.44V17.95V17.9456Z' fill='white'/%3E%3Cpath d='M72.7502 17.4251C72.5721 17.2433 72.4314 17.0253 72.3368 16.7846C72.2423 16.5438 72.1958 16.2854 72.2003 16.0253C72.1957 15.7635 72.2421 15.5035 72.3366 15.2611C72.4312 15.0187 72.5719 14.7988 72.7502 14.615C72.9217 14.4247 73.1297 14.2743 73.3605 14.1735C73.5913 14.0727 73.8398 14.0238 74.0899 14.0299C74.5962 14.0305 75.0816 14.2409 75.4396 14.615C75.7976 14.989 75.999 15.4962 75.9995 16.0253C76.0054 16.2866 75.9586 16.5463 75.8622 16.7875C75.7657 17.0286 75.6217 17.2459 75.4396 17.4251C75.2631 17.6107 75.0526 17.7572 74.8207 17.8559C74.5888 17.9546 74.3403 18.0035 74.0899 17.9997C73.8409 18.0044 73.5936 17.9559 73.3632 17.8571C73.1329 17.7583 72.9242 17.6113 72.7502 17.4251Z' fill='%23BFBFBF'/%3E%3C/svg%3E%0A");
      }
    }
    &--vtex{
      &::after{
        display: block;
        margin-top: 2px;
        content: url("data:image/svg+xml,%3Csvg width='49' height='17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M34.8284 6.36509h-1.7175v5.80621c0 .1087-.0945.2018-.2048.2018h-1.3236c-.1103 0-.2049-.0931-.2049-.2018V6.36509h-1.7332c-.0473 0-.1103-.01552-.1418-.04657-.0316-.03105-.0631-.07763-.0631-.13972V5.15417c0-.04657.0158-.10867.0631-.13972.0315-.03105.0945-.0621.1418-.04657h5.184c.1103 0 .2049.07762.2049.18629V6.1788c0 .10867-.0946.18629-.2049.18629zM40.3434 12.3266c-.6776.0931-1.3709.1397-2.0484.1242-1.3079 0-2.4581-.3261-2.4581-2.1424V7.00161c0-1.81638 1.166-2.12687 2.4738-2.12687.6776-.01553 1.3551.03105 2.0327.1242.1418.01552.2048.07762.2048.20182v.93147c0 .10867-.0945.20182-.2048.20182h-2.1272c-.4727 0-.6461.15525-.6461.68309v.90042h2.6945c.1103 0 .2048.09315.2048.20182v.94701c0 .10867-.0945.20182-.2048.20182h-2.6945v1.05569c0 .5123.1734.6831.6461.6831h2.1272c.1103 0 .2048.0931.2048.2018v.9315c0 .1086-.063.1707-.2048.1863zM47.9697 12.3731h-1.6072c-.1103.0156-.2206-.0465-.2678-.1552l-1.4024-2.1735-1.2606 2.1269c-.063.1242-.1418.2018-.2521.2018h-1.4969c-.0315 0-.0788 0-.1103-.031-.0315-.0311-.0473-.0621-.0473-.1087 0-.031.0158-.0466.0158-.0621l2.1902-3.6017-2.2217-3.41542c-.0158-.01552-.0158-.04657-.0158-.0621 0-.07762.0788-.13972.1576-.12419h1.6545c.1103 0 .1891.09314.2521.18629l1.2921 2.0182 1.2605-2.0182c.0473-.10867.1418-.17077.2521-.18629h1.4969c.0788 0 .1576.04657.1576.12419 0 .01553-.0157.04658-.0157.0621l-2.206 3.44647 2.3005 3.57065c.0158.0311.0315.0621.0315.0932-.0157.0621-.063.1086-.1576.1086zM27.0129 4.98342c-.0787 0-.1418.04657-.1575.12419L25.39 10.4636c-.0158.1087-.0473.1553-.1418.1553-.0946 0-.1261-.0466-.1419-.1553l-1.4654-5.35599c-.0157-.07762-.0787-.12419-.1575-.12419h-1.4497c-.0472 0-.0945.01552-.126.0621-.0315.03105-.0473.07762-.0315.12419 0 0 1.7963 6.14779 1.812 6.20989.2364.7296.8194 1.0867 1.56 1.0867.709.031 1.3551-.4192 1.5599-1.0867.0315-.0777 1.7805-6.20989 1.7805-6.20989.0158-.04657 0-.09314-.0315-.12419-.0315-.03105-.0788-.0621-.126-.0621h-1.4182zM18.8193 0H3.73988c-.5515 0-1.05572.294968-1.32359.745182-.28363.465738-.29938 1.040148-.04727 1.505888l1.51267 2.82548H1.13997c-.346649 0-.677546.17077-.866629.46574-.1890844.29497-.1890845.66756-.031515.97805L5.09498 15.5557c.17333.326.51998.5278.88239.5278s.70906-.2018.88239-.5278l1.32359-2.4529 1.65448 3.0894c.26787.4968.80357.8073 1.37087.8073.5672 0 1.103-.3105 1.3708-.8073l7.5634-14.01875c.2521-.46574.2364-1.02463-.0473-1.459318C19.8435.263918 19.3551 0 18.8193 0zm-6.744 5.91488L8.76636 12.0316c-.1103.2173-.3309.3415-.58301.3415s-.47271-.1397-.58301-.3415l-3.2617-6.05462c-.09454-.1863-.09454-.40364.01576-.58994.1103-.18629.31514-.29497.51998-.29497h6.68092c.2049 0 .394.09315.4885.26392.1261.17077.1261.38812.0315.55889z' fill='%23fff'/%3E%3C/svg%3E");
      }
    }
  }
}