@import 'icons64/__base.scss';

@import 'components/__shelf.scss';
@import 'components/__header.scss';
@import 'components/__footer.scss';
@import 'components/__newsletter.scss';

body {
  font-family: "Nunito", sans-serif;
  overflow-x: hidden;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}