@import '__header.scss';
@import '__footer.scss';
@import '__newsletter.scss';

body {
  font-family: "Nunito", sans-serif;
  width: 320px;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}