footer.footer
  div.footer__local
    h3.footer__local--title Localização
    p.footer__local--address Rua Ifigênia Maria de Oliveira 3793 #[br]
      | Jd. Piratininga - 14403-583 #[br]
      | Franca SP, Brasil #[br]
      a(href="mailto:contato@clickqi.com.br") contato@clickqi.com.br #[br]
      a(href="tel:+55 16 3713-6985") +55 16 3713-6985
  div.footer__button
    a.footer__button--mail(href="mailto:brasil@corebiz.ag") Entre em contato
    a.footer__button--contact(href="https://www.corebiz.ag/") Fale com o nosso #[br] consultor online
  div.footer__bottom
    p.footer__bottom--corebiz Created by
    p.footer__bottom--vtex Powered by
