section.newsletter
  .newsletter__start
    h3.newsletter__start--title Participe de nossas news com promoções e novidades!
    form(action="").newsletter__start--form
      input(type="text", name="email", id="email", required="required", placeholder="Digite seu nome")
      input(type="email", name="email", id="email", required="required", placeholder="Digite seu email")
      button(type="submit",id="submit") Eu quero!
  .newsletter__message-success
    p Seu e-mail foi cadastrado com sucesso!
    span A partir de agora você receberá as novidade e ofertas exclusivas.
    button Cadastrar novo e-mail