.newsletter
  h3.newsletter__title Participe de nossas news #[br]com promoções e novidades!
  form(action="").newsletter__form
    input(type="text", name="email", id="email", placeholder="Digite seu nome")
    input(type="email", name="email", id="email", placeholder="Digite seu email")
    button(type="submit",id="submit") Eu quero!