section.shelf
  h3.shelf__title Mais vistos

  #shelfProducts.swiper-container
    ul.shelf__list.shelf__list--products.swiper-wrapper

    .swiper-pagination

    //- .swiper-button-prev
    //- .swiper-button-next