doctype html
html
  head
    title CoreBiz - Front End - Aline Veras
    meta(charset="UTF-8")
    meta(name="viewport" content="initial-scale=1, maximum-scale=1")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css")
    link(href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;900&display=swap" rel="stylesheet")

  body
    include views/__header.pug
    main
    script(src="js/index.js")
    include views/__newsletter.pug
    include views/__footer.pug
